body{
    max-width: 1200px;
    margin: auto;
}

h1{
    font-size: 80px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #302008;
}
a{
    padding-left: 20px;
}
a:hover{
    cursor: pointer;
}

.centrar{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;

}

.flex-padre{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(226, 198, 43, 0.514);
    padding: 200px;
    
}

.flex-hijo{
    justify-content: space-between;
}